{% extends "SchuhBlogBundle::layout.html.twig" %}

{% block content %}
{% for article in articles %}
<a href="{{ article.slug }}"><h1>{{ article.title }}</h1></a>
{{ article.text|slice(0, chars)|raw }}<a href="{{ article.slug }}">[...]</a>
<br>
<br>
<a href="{{ article.slug }}">Lire la suite...</a>
<hr>
{% endfor %}
{% endblock %}