{% extends "SchuhBlogBundle::layout.html.twig" %}

{% block content %}
<h1>{{ article.title }}</h1>
<h5>{{ article|publication }}</h5>
{{ article.text|raw }}
<hr>
<h1>{{ article.comments|length }} commentaires</h1>
{% for i in 0..article.comments|length - 1 %}
    <div class="comment {{ cycle(['odd', 'even'], i) }}">
        <h5>{{ article.comments[i].author }} a écrit le {{ article.comments[i].created|date('d/m/Y') }} à {{ article.comments[i].created|date('H:i') }}</h5>
        <p>{{ article.comments[i] }}</p>
    </div>
{% endfor %}
<div class="leave_comment">
<h1>Laissez un commentaire</h1>
<form method="post" {{ form_enctype(form) }}>
    {{ form_widget(form._token) }}
    <h2>{{ form_label(form.author) }}</h2>
    {{ form_errors(form.author) }}
    {{ form_widget(form.author) }}
    <h2>{{ form_label(form.text) }}</h2>
    {{ form_errors(form.text) }}
    {{ form_widget(form.text) }}<br>
    <input style="margin-top: 15px" type="submit" />
</form>
</div>
{% endblock %}