{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
<link rel="stylesheet" type="text/css" href="{{ asset('css/login-box.css') }}" />
{% if error %}
    <div>{{ error|trans({}, 'FOSUserBundle') }}</div>
{% endif %}
<div style="padding: 100px 0 0 250px;">
<div id="login-box">
<H2>{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</H2>
<br />
<br />
<form action="{{ path("fos_user_security_check") }}" method="post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    <div id="login-box-name" style="margin-top:20px;">
    <label for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
    </div>
    <div id="login-box-field" style="margin-top:20px;">
    <input class="form-login" size="30" maxlength="2048" type="text" id="username" name="_username" value="{{ last_username }}" />
    </div>
    <div id="login-box-name">
    <label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
    </div>
    <div id="login-box-field">
    <input class="form-login" type="password" id="password" name="_password" size="30" maxlength="2048"/>
    </div>
    <div class="login-box-options">
    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
    <label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
    </div>
    <br />
    <br />
    <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
</form>
</div>
</div>
{% endblock fos_user_content %}
